## WAN configuration
# Dell blade
KERNEL=="eno1", NAME="wan0"
# VM
KERNEL=="enp0s3", NAME="wan0"

## LAN configuration
# Dell blade
KERNEL=="eno2", NAME="lan0"
# VM
KERNEL=="enp0s8", NAME="lan0"

## GPS configuration
ACTION=="add", SUBSYSTEM=="tty", KERNEL=="ttyACM[0-9]*", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a7", TAG+="systemd", SYMLINK+="gps", ENV{ID_MM_DEVICE_IGNORE}="1"
