[Unit]
Description=SAGE First Boot Service
Conflicts=shutdown.target
After=syslog.service
Before=docker.service shutdown.target
Wants=syslog.service docker.service
ConditionPathExists=/etc/waggle/firstboot.sh

[Service]
ExecStart=/etc/waggle/firstboot.sh
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=30s

[Install]
WantedBy=default.target
