[Unit]
Description=Waggle First Boot Service
Conflicts=shutdown.target
After=syslog.service
Before=k3s.service docker.service shutdown.target
Wants=k3s.service docker.service syslog.service
ConditionPathExists=/etc/waggle/firstboot.sh

[Service]
ExecStart=/etc/waggle/firstboot.sh
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=30s

[Install]
WantedBy=default.target
